
.header-section {
    background-color: #607a9e;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

h1 {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 50px;
}

h2 {
    grid-column: span 2;
    order: 2;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.mountains {
    width: 100%;
    grid-column: span 2;
    grid-row: span 2;
    margin: 0;
    padding: 0;
    
   
}

.fun-font {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.normal-font {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.blue-text {
    color: #607a9e;
    font-weight: bold;
    font-size: 30px;
}

.headshot {
    height: 200px;
    border-radius: 50%;
    border: 10px solid #607a9e;
    float: left;
    margin: 30px 20px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-history {
    background-color: #607a9e;
    color: white;
    
}

.accounting-img, .coding-img, .hiking-img {
    height:200px;
    width: 330px;
    border-radius: 10px;
    border: 10px solid white;
    
}

.accounting-container, .coding-container, .hiking-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px 20px;
    margin: 0px 30px;
}

li {
    padding: 10px;
}

.inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    background-color: #607a9e;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: "Roboto Flex", sans-serif;
    width: 150px;
}

.button2 {
    background-color: white;
    color: #607a9e;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: "Playwrite DE Grund", cursive;
    width: 150px;
}

.footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 1280px) {
    .header-section {
        display: flex;
        flex-direction: column;
    }

    h2 {
        order: 0;
    }
}

/* Hiking Tab */

.hiking-header {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#607a9e;
    font-size: 30px;
}

.hikePhoto {
    height:200px;
    width: 330px;
    border-radius: 10px;
    border: 10px solid #607a9e;
    
}

.header-hiking {
    background-color: #607a9e;
    height: 100px;

}